*{
    box-sizing: border-box;
}

.body{
    padding:0;
    margin: 0 auto;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.header_nav{
    display: flex;
    height: 150px;
}

.header_logo img{
    display: block;
    width: 200px; 
    height: 150px;
    margin-left: 150px; 
}

#cart img{
    width: 30px;
    height: 30px;
    margin-top: 58px;
    margin-right: 150px;
    cursor: pointer;
}

.header_nav_list{    
    width: 100%;
    display: flex; 
    margin-left: 170px;
    margin-top: 30px;
}

.header_nav_list ul{
    list-style-type: none;
    overflow: hidden; 
}

.header_nav_list li{
    font-size: 15px;
    float: left;
    margin: 20px;
}


.header_nav_list a{
    display: block;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.header_nav_list a:hover{
    color: rgb(180, 180, 180);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    font-family: monospace;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  }

  .modal-content {
    margin: 0 auto;
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
  
  }

  .modal-body {
    padding: 1rem;
  }
  
  .modal-footer {
    display: flex;
    border-top: 1px solid #aaaaaa;
    padding: 1rem;
    flex-direction: row;
    justify-content: flex-end;
    border-top: 1px solid #aaaaaa;
    padding: 1rem;
  }

  .modal-footer>:not(:first-child) {
    margin-left: .25rem;
  }
  
  .btn {
    cursor: pointer;
    outline: none;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    font-size: 15px;
    transition: all .2s ease-in-out;
  }

  .btn-secondary {
    color: #292b2c;
    background-color: #fff;
    border-color: #ccc;
  }
  
  .btn-primary {
    color: #fff;
    background-color: #4e4e4e;
  }
  
  .modal-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #aaaaaa;
    padding: 1rem;
  }

  .modal-title img{
    height: 100px;
  }
  
  .close {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  /* cart */
.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
  }
  
  .cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
  }
  
  .cart-row {
    display: flex;
  }
  
  .cart-item {
    width: 45%;
  }
  
  .cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
  }
  
  .cart-quantity {
    width: 35%;
  }
  
  .cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
  }
  
  .btn-danger {
    color: white;
    background-color: #4e4e4e;
    border: none;
  }
  
  .btn-danger:hover {
    background-color: #CC4C4C;
  }
  
  .cart-quantity-input {
    height: 21px;
    width: 40px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
  }
  
  .cart-row:last-child {
    border-bottom: 1px solid black;
  }
  
  .cart-row:last-child .cart-column {
    border: none;
  }
  
  .cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
  }
  
  .cart-total-title {
    font-weight: bold;
    font-size: 17px;
    color: black;
    margin-right: 20px;
  }
  
  .cart-total-price {
    color: #333;
    font-size: 1.1em;
  }

.content-1{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    width: 100%;
    height: auto;
}

.menu1{
    width: 100%;
    margin-left: 160px;
    margin-top: 35px;
    flex: 1 0; 
    background-color: white;
    box-shadow: 3px 3px 3px 3px rgb(206, 206, 206);
}

.menu1:hover{
    opacity: 0.8;
}

#img-menu1{
    margin-left: 3px;
    margin-top: 3px;
}

#text-c1{
    width: 100%;
    height: 35px;
    margin-left: 65px;
}

#text-c1 p{
    font-size: 15px;
    font-family: monospace;
    color: rgb(0, 0, 0);
}

.price{
    font-size: 17px;
    font-family: monospace;
}

.icon{
    justify-content: space-between;
    display: table-cell;
    flex-flow: row wrap;
    display: flex;
    margin-bottom: 30px;
    cursor: pointer;
}

.cafe-icon{
    margin-top: 30px;
    margin-left: 50px;
    float: right;
    width: 25px;
    height: 25px;
}

.cafe-icon:hover{
    transform: scale(1.2);
}

.milk-icon{   
    margin-top: 35px;
    margin-right: 50px;
    float: right;
    width: 20px;
    height: 20px;
}

.milk-icon:hover{
    transform: scale(1.2);
}

.heart-icon{ 
    margin-top: 35px;
    margin-left: 65px;  
    float: left;
    width: 20px;
    height: 20px;
}

.heart-icon:hover{
    transform: scale(1.2);
}

.share-icon{ 
    margin-top: 35px; 
    margin-right: 50px;
    float: left; 
    width: 20px;
    height: 20px;
}

.share-icon:hover{
    transform: scale(1.2);
}

.menu2{
    width: 100%;
    background-color: white;
    margin-left: 20px;
    margin-top: 35px;
    flex: 1 0;  
    box-shadow: 3px 3px 3px 3px rgb(206, 206, 206);
}

.menu2:hover{
    opacity: 0.8;
}

.menu3{
    width: 100%;
    background-color: white;
    margin-left: 20px;
    margin-right: 140px;
    margin-top: 35px;
    flex: 1 0;   
    box-shadow: 3px 3px 3px 3px rgb(206, 206, 206);
}

.menu3:hover{
    opacity: 0.8;

}


#img-2{
    float: left;
}

.img-c2{
    flex: 1 0;
    width: 200px;
    height: 200px;
}

footer{
    margin-top: 100px;
    height: 320px;
    background-color: rgb(104, 119, 100);
}

.main-footer{
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    width: 100%;
}

.footer-two{
    margin-left: 250px;
    margin-right: 100px;
    margin-top: 50px;
    height: 150px;
    flex: 1 0;
    cursor: pointer;
}

.title{  
    font-size: 17px;
    font-weight: bold;
    color: white;
}

.contact-footer{
    font-size: 14px;
    color: rgb(255, 251, 251);
}

.contact-footer img{
    width: 30px;
    height: 30px;
}

.footer-three{
    line-height: 20px;
    margin-left: 20px;
    margin-right: 100px;
    margin-top: 50px;
    height: 150px;
    flex: 1 0;
    cursor: pointer;
}

.footer-one{
    line-height: 20px;
    margin-left: 20px;
    margin-right: 160px;
    margin-top: 50px;
    height: 150px;
    flex: 1 0;
    cursor: pointer;
}

#address hr{
    margin-top: 80px;
}

#address p{
    margin-top: 10px;
    font-family: sans-serif;
    text-align: center;
    color: white;
    font-size: 12px;
}
